body{
    text-align: center;
    background-color: darkslategray;
}
.container{
    width: 70%;
    margin: auto;
}

h1{
    font-family: 'Lobster', cursive;
    font-size: 8rem;
    margin: 0;
    padding: 2rem;
    color: skyblue;
}
img{
    height: auto;
    width: 80%;
}

p{
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    color: aqua;
}

.dice{
    display: inline-block;
}
footer{
    padding: 3rem;
    font-family: 'Indie Flower', cursive;
  
}